# Auto detect text files and perform LF normalization
* text=auto
PactOfTheNetherGod.zip.psd filter=lfs diff=lfs merge=lfs -text
PactOfTheNetherGod.psd filter=lfs diff=lfs merge=lfs -text
zip.psd filter=lfs diff=lfs merge=lfs -text
PactOfTheNetherGod.zip filter=lfs diff=lfs merge=lfs -text
.zip filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
